/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** variables  ********/
/**** global selectors *****/
body {
  font-family: "Open Sans", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
}

/*********header************/
header {
  background-color: #ae4a0c;
  display: grid;
  grid-template: 1fr / 15vw auto auto;
  height: 7%;
  font-size: 14px;
  font-weight: 600;
}

header img {
  width: 109px;
  padding: 0 0;
  align-self: center;
  justify-self: center;
}

header nav {
  align-self: center;
  width: 30vw;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header nav ul li {
  align-items: center;
}

header nav ul li a {
  color: #fff;
}

header nav ul li a svg {
  width: 10px;
  fill: #fff;
}

header aside {
  justify-self: flex-end;
  align-self: center;
  display: grid;
  width: 25vw;
}

header aside ul {
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header aside ul a {
  color: #fff;
}

/****main******/
#main-signup {
  background-image: url(../images/background.png);
  background-size: cover;
  height: 93%;
  color: #fff;
  display: grid;
  grid-template: auto 2fr / auto;
}

#main-signup .logo-dantoto {
  padding: 20px;
}

#main-signup .logo-dantoto img {
  width: 170px;
}

#main-signup .logo-dantoto p {
  font-size: 10px;
}

#main-signup section {
  display: grid;
  grid-template: auto / auto;
  overflow: hidden;
}

#main-signup section article {
  background-image: url(../images/horses-back.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 70%;
  height: 70%;
  justify-self: center;
  align-self: flex-start;
  padding: 30px;
}

#main-signup section article h1 {
  font-size: 20px;
  text-align: center;
}

#main-signup section #acount-choose {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template: repeat(6, 1fr)/35%;
  justify-content: center;
}

#main-signup section #acount-choose .btn-face {
  background-color: #3c5a99;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 15%;
  margin: 5% 0;
}

#main-signup section #acount-choose .btn-face i {
  font-size: 30px;
}

#main-signup section #acount-choose .btn-face span {
  align-self: center;
}

#main-signup section #acount-choose .btn-google {
  background-color: #db4437;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 17%;
  margin: 5% 0;
}

#main-signup section #acount-choose .btn-google i {
  font-size: 30px;
}

#main-signup section #acount-choose .btn-google span {
  align-self: center;
}

#main-signup section #acount-choose .btn-email {
  background-color: #47ab66;
  margin: 5% 0;
}

#main-signup section #acount-choose div p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  padding: 7% 0;
}

#main-signup section #acount-choose div hr {
  border-width: 1px;
}

#main-signup section #acount-choose p {
  font-size: 14px;
  text-align: center;
}

#main-signup section #acount-choose p a {
  color: #fff;
  text-decoration: underline;
}

#main-signup section #acount-form {
  grid-column: 1/2;
  grid-row: 1/2;
  transform: translate3d(150%, 0, 0);
  display: grid;
  grid-template: auto auto auto/1fr;
}

#main-signup section #acount-form form {
  display: grid;
  grid-row-gap: 10%;
}

#main-signup section #acount-form form div {
  display: grid;
  grid-template: 1fr/1fr;
}

#main-signup section #acount-form form div input {
  grid-row: 1/2;
  grid-column: 1/2;
  background-color: transparent;
  border: 1px solid #fff;
  height: 40px;
  outline: none;
}

#main-signup section #acount-form form div label {
  grid-row: 1/2;
  grid-column: 1/2;
  align-self: center;
  padding-left: 1%;
  font-size: 14px;
}

.hide {
  display: none !important;
  transition: 3s;
}

.animateform {
  animation: formAppear 1s ease-in-out forwards;
}

@keyframes formAppear {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

.btn, #main-signup section #acount-choose .btn-face, #main-signup section #acount-choose .btn-google, #main-signup section #acount-choose .btn-email {
  color: #fff;
  border-radius: 4px;
  border: none;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  height: 50px;
}

.btn:hover, #main-signup section #acount-choose .btn-face:hover, #main-signup section #acount-choose .btn-google:hover, #main-signup section #acount-choose .btn-email:hover {
  cursor: pointer;
  background-color: #da5713;
}
