/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** variables  ********/
$font-stack: "Open Sans", sans-serif;
$font-size-small: 10px;
$font-size-text: 14px;
$font-size-title: 20px;

$color-bown: #ae4a0c;
$color-white: #fff;
$color-black: #000;
$color-green: #47ab66;
$color-orange: #da5713;

/**** global selectors *****/
body {
  font-family: $font-stack;
  height: 100vh;
}
a {
  text-decoration: none;
}

/*********header************/
header {
  background-color: $color-bown;
  display: grid;
  grid-template: 1fr / 15vw auto auto;
  height: 7%;
  font-size: $font-size-text;
  font-weight: 600;

  img {
    width: 109px;
    padding: 0 0;
    align-self: center;
    justify-self: center;
  }

  nav {
    align-self: center;
    width: 30vw;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        align-items: center;
        a {
          color: $color-white;
          svg {
            width: 10px;
            fill: $color-white;
          }
        }
      }
    }
  }

  aside {
    justify-self: flex-end;
    align-self: center;
    display: grid;
    width: 25vw;

    ul {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        color: $color-white;
      }
    }
  }
}

/****main******/
#main-signup {
  background-image: url(../images/background.png);
  background-size: cover;
  height: 93%;
  color: $color-white;
  display: grid;
  grid-template: auto 2fr / auto;

  .logo-dantoto {
    padding: 20px;
    img {
      width: 170px;
    }
    p {
      font-size: $font-size-small;
    }
  }

  section {
    display: grid;
    grid-template: auto / auto;
    overflow: hidden;

    article {
      background-image: url(../images/horses-back.png);
      background-size: cover;
      background-repeat: no-repeat;
      width: 70%;
      min-height: 80%;
      justify-self: center;
      align-self: flex-start;
      padding: 30px;
      h1 {
        font-size: $font-size-title;
        text-align: center;
      }
    }
    #acount-choose {
      grid-column: 1/2;
      grid-row: 1/2;
      display: grid;
      grid-template: repeat(6, auto) / 35%;
      justify-content: center;

      .btn-face {
        @extend .btn;
        background-color: #3c5a99;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 15%;
        margin: 3% 0;
        i {
          font-size: 30px;
        }
        span {
          align-self: center;
        }
      }
      .btn-google {
        @extend .btn;
        background-color: #db4437;
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 17%;
        margin: 3% 0;
        i {
          font-size: 30px;
        }
        span {
          align-self: center;
        }
      }
      .btn-email {
        @extend .btn;
        align-self: center;
        background-color: $color-green;
        margin: 3% 0;
      }
      div {
        p {
          font-size: $font-size-text;
          font-style: italic;
          text-align: center;
          padding: 7% 0;
        }
        hr {
          border-width: 1px;
        }
      }
      p {
        font-size: $font-size-text;
        text-align: center;
        line-height: 1.5;
        a {
          color: $color-white;
          text-decoration: underline;
        }
      }
    }
    #acount-form {
      grid-column: 1/2;
      grid-row: 1/2;
      transform: translate3d(150%, 0, 0);
      display: grid;
      grid-template: auto 1fr auto/ 300px;
      justify-content: center;

      h1 {
        padding-bottom: 12%;
      }

      p {
        // margin-top: 5%;
        font-size: $font-size-text;
        text-align: center;
        line-height: 1.5;
        a {
          color: $color-white;
          text-decoration: underline;
        }
      }

      form {
        display: grid;
        grid-row-gap: 10%;
        div {
          display: grid;
          grid-template: auto/auto;
          height: 150%;

          input {
            grid-row: 1/2;
            grid-column: 1/2;
            background-color: transparent;
            border: 1px solid $color-white;
            outline: none;
            font-size: $font-size-text;
            color: $color-white;
            padding: 0 5%;
            border-radius: 4px;
          }
          input:valid {
            border: 1px solid $color-green;
          }
          // input:invalid {
          //   border: 1px solid $color-orange;
          // }
          input:focus + label {
            color: $color-orange !important;
          }

          label {
            grid-row: 1/2;
            grid-column: 1/2;
            align-self: center;
            padding-left: 5%;
            font-size: $font-size-text;
          }
          .sub-btn {
            @extend .btn;
            background-color: $color-green;
            margin-top: 7%;
          }
        }
      }
    }
  }
}
.move-lable {
  animation: moveLable 0.5s ease-in-out forwards;
}

@keyframes moveLable {
  100% {
    transform: translate(-3rem, -0.8rem) scale(0.7);
    // color: gainsboro;
  }
}

.hideChosse {
  animation: chosseDisapear 1s ease-in-out forwards;
}

.animateform {
  animation: formAppear 1s ease-in-out forwards;
}

@keyframes formAppear {
  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes chosseDisapear {
  100% {
    transform: translate3d(-150%, 0, 0);
  }
}

.btn {
  color: $color-white;
  border-radius: 4px;
  border: none;
  font-size: $font-size-text;
  font-family: $font-stack;
  height: 50px;
}
.btn:hover {
  cursor: pointer;
  background-color: $color-orange;
}
