/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/****** variables  ********/
$font-stack: "Open Sans", sans-serif;
$color-bown: #ae4a0c;
$color-white: #fff;
$color-black: #000;
$color-green: #47ab66;

/**** global selectors *****/
body {
  font-family: $font-stack;
  height: 100vh;
}
a {
  text-decoration: none;
}

/*********header************/
header {
  background-color: $color-bown;
  display: grid;
  grid-template: 1fr / 15vw auto auto;
  height: 7%;
  font-size: 14px;
  font-weight: 600;

  img {
    width: 109px;
    padding: 0 0;
    align-self: center;
    justify-self: center;
  }

  nav {
    align-self: center;
    width: 30vw;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      li {
        align-items: center;
        a {
          color: $color-white;
          svg {
            width: 10px;
            fill: $color-white;
          }
        }
      }
    }
  }

  aside {
    justify-self: flex-end;
    align-self: center;
    display: grid;
    width: 25vw;

    ul {
      align-self: center;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      a {
        color: $color-white;
      }
    }
  }
}

/****main******/
#main-signup {
  background-image: url(../images/backgroundchez_2077x1202.png);
  background-size: cover;
  height: 93%;
  color: $color-white;
  display: grid;
  grid-template: auto 2fr / auto;

  div {
    padding: 20px;
    img {
      width: 170px;
    }
    p {
      font-size: 10px;
    }
  }

  article {
    background-image: url(../images/10.png);
    background-size: contain;
    width: 70%;
    height: 85%;
    justify-self: center;
    align-self: flex-start;
  }
}
